<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100607428143-psojtktl2spo6s9bm1rtv6f7d9umvltn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100607428143-psojtktl2spo6s9bm1rtv6f7d9umvltn</string>
	<key>API_KEY</key>
	<string>AIzaSyC7iXg2cWCcLGsx1sII5MNlW7VAdlE6pLc</string>
	<key>GCM_SENDER_ID</key>
	<string>100607428143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.scopex.coder339</string>
	<key>PROJECT_ID</key>
	<string>scopex-f1717</string>
	<key>STORAGE_BUCKET</key>
	<string>scopex-f1717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100607428143:ios:4656378e9c82221ea728da</string>
</dict>
</plist>